
<div class="container" style="width: 450px; margin: 0 auto">
    <a href="/books">Voltar/a>
    <ul style="display: flex; flex-direction: column">
    <h1>{{book.title}}</h1>
    <p>Este livro tem {{book.pageqty}} páginas</p>
    </ul>
</div>